<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/products">ProductList</a>
</p>
<form action="" method="post">
    <table>
        <tr>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td><input type="text" name="price"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>